html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    align-items: center;
    text-align: center;
}

main {
    padding: 0 5rem;
    min-height: 80vh;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

section {
    display:flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #0000EE;
    transition-duration: 0.3s;
}

a:hover {
    color: #ff0000;
    transition-duration: 0.3s;
}

hr {
    border: none;
    border-top: 1.5px solid #ccc;
    margin: 2.5rem 0;
}

header {
    text-align: center;
    padding: 3rem 0;
    margin-bottom: 3rem;
    background-color: #000;
    color: #fff;
    border-radius: 0 0 1.2rem 1.2rem;
}

#header-cpfc-logo {
    width: 5rem;
    height: 5rem;
}

header h1 {
    font-size: 2.5rem;
    margin: 1rem 0 0 0;
}


.matchcard {
    display: inline-block;
    margin: 1rem 0;
    padding: 2rem 3rem;
    border: 1px solid #000;
    border-radius: 10px;
    max-width: 50vw;
    font-size: 1.2rem;
    background-color: #fff;
    transition-duration: 0.3s;
    box-shadow: none;
}

.matchcard br {
    margin-bottom: 0.5rem;
}

.matchcard:hover {
    background-color: #f2f2f2;
    transition-duration: 0.3s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.matchcard strong {
    margin: 0 0.6rem;
    font-weight: 600;
}

.matchcard small {
    color: #666;
    font-size: 0.9rem;
}

img, div {
  max-width: 100%;
  box-sizing: border-box;
}

ul, ol {
    text-align: left;
    display: inline-block;
}

li {
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
    background-color: #000;
    color: #fff;
    border-radius: 1.2rem 1.2rem 0 0;
}

@media (max-width: 600px) {
    body {
        font-size: 1rem;
    }

    header h1 {
    font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    main {
        padding: 0 1.5rem;
    }

    .matchcard {
        padding: 1.5rem 2rem;
        font-size: 1rem;
        max-width: 90vw;
    }
}